.featured-project-thumbnail {
  width: 508px;
  height: 330px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  margin-top: -6rem;
  position: relative;
}

.featured-project {
  width: 50%;
  display: block;
  margin: 0 auto;
}
