@media only screen and (max-width: 414px) {
  /* homepage */
  #homepage-header {
    padding-top: var(--value-64) !important;
  }

  #featured-project {
    flex-direction: column !important;

    .margin-right-32 {
      margin-right: 0 !important;
    }

    .featured-image {
      margin-right: 0 !important;
      margin-bottom: var(--value-32) !important;
      width: 100% !important;
      height: 100% !important;
    }

    p.description {
      font-size: var(--value-16) !important;
    }
  }

  div.wrapper {
    width: 100% !important;
    padding: 0 var(--value-16) !important;
  }
  /* nav */
  #main-nav {
    display: flex !important;
    align-items: center;
  }

  #main-nav > div.wrapper {
    justify-content: flex-start !important;
  }

  #main-nav ul {
    display: none !important;
  }

  #menu-bar {
    display: block;
    margin-right: var(--value-16) !important;
    margin-top: var(--value-16) !important;
    margin-bottom: var(--value-16) !important;
  }

  #mobile-nav {
    display: block !important;
  }

  /* footer.html */
  footer > div.wrapper {
    flex-direction: column !important;
  }

  footer div.column-content {
    flex-direction: column !important;
  }

  footer #copyright {
    margin-bottom: var(--value-48);
  }
}
