.member {
  border-radius: var(--value-8);
  transition: ease all 0.3s;

  .socials {
    transition: ease all 0.3s;
  }

  .socials:hover {
    color: var(--main-blue);
  }
}

// .member:hover {
//   background-color: white;
//   box-shadow: 0px 2px 11px #dedede;
// }
