#overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#modal {
  z-index: 1000;
  width: 100%;
  height: 100%;
  // margin: auto !important;
  background-color: white;
  max-height: var(--value-640);
  overflow-y: scroll;
}
#modal #modal-content {
  width: 192px;
  position: fixed;
  display: flex;
}
